body {
  background-image: url("arkaplan-resmi.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: 0 auto;
}

#menu {
  background-color: #154453;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  display: block;
  padding: 10px 20px;
  color: #f5ecec; 
  text-decoration: none;
}

#menu ul li a:hover {
  background-color: #000000;
}

#menu ul li a.active {
  background-color: #fff;
  color: #3e2349;
}

.icerik {
  padding: 20px;
}

.slider {
  overflow-x: hidden; 
  white-space: nowrap;
}

.slider img {
  width: auto;
  height: 200px;
  margin-right: 10px;
}

.bilgiler h3 {
  color: red;
}
