h2 {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
li {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #000;
  font-weight: bold;
  font-size: 15px;
}
p {
  color: #080808;
  font-weight: bold;
  font-size: 15px;
}
li {
  color: #080a0a;
  font-weight: bold;
  font-size: 15px;
}

.text-background {
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 10px; 
}

body {
  background-image: url("arkaplan-resmi.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.container {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

.header-navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin-right: 100px;
}
.header-logo{
  float: left;
  font-size: 16px;
  letter-spacing: 2px;
  border-bottom: 5px solid #000;
  border-radius: 35px;
  margin-left: 40px;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  display: block;
  padding: 10px 20px;
  color: #070707; 
  text-decoration: none;
}

#menu ul li a:hover {
  background-color: #da6517;
}

#menu ul li a.active {
  background-color: #095713;
  color: #0c0a0c;
}

.icerik {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.slider {
  overflow-x: hidden; 
  white-space: nowrap;
}

.slider img {
  width: auto;
  height: 200px;
  margin-right: 10px;
}

.bilgiler h3 {
  color: rgb(184, 5, 5);
}

